<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Excercise/src/edu/java2/exercise/rmi/server/HWorldServer.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_START_ON_FIRST_THREAD" value="true"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="edu.java2.exercise.rmi.server.HWorldServer"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-Djava.rmi.server.codebase=http://Eve/~apgrnt/WorkSpace/RMI excercise/bin/"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Excercise"/>
</launchConfiguration>
